<div layout="column">
    <md-container flex="100">
        <md-button class="md-raised md-accent" ng-click="tripsCtrl.createTrip()" style="width: 100%;">
            <label>Create</label>
        </md-button>
    </md-container>
    <md-list ng-cloak flex="100">
        <md-subheader class="md-no-sticky">Available trips</md-subheader>
        <md-list-item layout="row" ng-repeat="trip in tripsCtrl.trips" ng-click="tripsCtrl.editTrip(trip)" class="noright">
            <img class="md-avatar" ng-show="trip.image_name" ng-src="/images/{{ trip.image_name }}">
            <p flex="20"> {{ trip.title }} </p>
            <p flex="40"> {{ trip.description }} </p>
            <p flex="20"> {{ trip.location }} </p>
            <md-icon flex="10" class="md-secondary" ng-click="tripsCtrl.deleteTrip(trip)" aria-label="Delete"><i class="material-icons">delete_forever</i></md-icon>
        </md-list-item>
    </md-list>
</div>