<md-content layout="row" class="full-height">
    <md-list flex="30" class="full-height">
        <md-subheader class="md-no-sticky">All available trips</md-subheader>
        <md-list-item class="md-3-line" ng-repeat="trip in dashCtrl.trips" ng-click="dashCtrl.findInMap(trip)">
          <%= image_tag("/images/{{ trip.image_name }}", :class => "md-avatar") %>
          <div class="md-list-item-text" layout="column">
            <h3>{{ trip.title }}</h3>
            <h4>{{ trip.location }}</h4>
          </div>
        </md-list-item>
    </md-list>
    <md-content flex="70" class="full-height">
        <ng-map id="tripMap" center="{{ dashCtrl.center }}" zoom="3" class="full-height">
            <marker
                id="{{ trip.markerId }}"
                ng-repeat="trip in dashCtrl.trips"
                position="{{trip.lat}}, {{trip.lng}}"
                on-click="dashCtrl.mapInstance.showInfoWindow('{{ trip.infoWindowId }}')"
            >
                <info-window id="{{ trip.infoWindowId }}" visible-on-marker="{{ trip.markerId }}">
                    <div ng-non-bindable= "">
                        <div id="siteNotice"></div>
                        <h1 id="firstHeading" class="firstHeading">{{ trip.title }}</h1>
                        <div id="bodyContent">
                            <p>
                                <b>{{ trip.title }} :</b>,
                                {{ trip.description }}
                            </p>
                            <%= image_tag("/images/{{ trip.image_name }}", :class => "md-avatar") %>
                        </div>
                    </div>
                </info-window>
            </marker>
        </ng-map>
    </md-content>
</md-content>