<div>
    <md-sidenav md-component-id="rightMenu" class="md-sidenav-right">
        Left Nav!
    </md-sidenav>

    <md-content layout="row">
        <md-button flex-offset="50" flex="25" ng-click="headerCtrl.openMenu()">
            Sign in!
        </md-button>
        <md-button flex="25" ng-click="headerCtrl.openMenu()">
            Log in!
        </md-button>
    </md-content>
</div>