<md-dialog aria-label="New User Modal">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>New User</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="userCtrl.cancel()">
                    <md-icon aria-label="Close dialog"><%= image_tag("close_icon.png", :alt => "icon", size: "24x24") %></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content style="overflow: hidden; margin: 15px;">
            <div layout="column">
                <div flex layout="row">
                    <md-icon class="material-icons" style="display:inline-block; margin-top: 22px">create</md-icon>
                    <md-input-container flex style="margin-bottom: 0px;">
                        <label>First Name</label>
                        <input ng-model="userCtrl.userInfo.first_name">
                    </md-input-container>
                    <md-input-container flex style="margin-bottom: 0px;">
                        <label>Last Name</label>
                        <input ng-model="userCtrl.userInfo.last_name">
                    </md-input-container>
                </div>
                <md-input-container flex style="margin-bottom: 0px;">
                    <md-icon class="material-icons" style="display:inline-block;">email</md-icon>
                    <label>Email</label>
                    <input ng-model="userCtrl.userInfo.email">
                </md-input-container>
                <div flex layout="row">
                    <md-icon class="material-icons" style="display:inline-block; margin-top: 22px">security</md-icon>
                    <md-input-container flex style="margin-bottom: 0px;">
                        <label>Password</label>
                        <input ng-model="userCtrl.userInfo.password" type="password">
                    </md-input-container>
                    <md-input-container flex style="margin-bottom: 0px;">
                        <label>Password Confirmation</label>
                        <input ng-model="userCtrl.userInfo.password_confirmation" type="password">
                    </md-input-container>
                </div>
                <md-input-container flex style="margin-top: 0px; margin-bottom: 0px;">
                    <h4 class="md-display-8">Account type</h4>
                        <div layout="row">
                            <md-checkbox flex ng-checked="userCtrl.userInfo.role === 'Trips Advisor'" ng-click="userCtrl.setRole('Trips Advisor')">
                                Trips Advisor
                            </md-checkbox>
                            <md-checkbox flex ng-checked="userCtrl.userInfo.role === 'Trips Manager'" ng-click="userCtrl.setRole('Trips Manager')">
                                Trips Manager
                            </md-checkbox>    
                        </div>
                </md-input-container>
                <div flex layout="row">
                    <div flex="70" layout="column">
                        <input id="input-file-id" class="ng-hide" nv-file-select type="file" uploader="userCtrl.uploader"/><br/>
                        <label flex class="md-button md-raised md-warn" for="input-file-id">
                            <md-icon class="material-icons" style="display:inline-block; margin: 0 2px 5px 0;">add_a_photo</md-icon>
                            Upload profile image
                        </label>
                    </div>
                    <div flex="30" ng-repeat="item in userCtrl.uploader.queue" ng-click="item.remove()">
                        <div ng-thumb="{ file: item._file, width: 70, height: 70 }" class="file_thumb"><canvas></canvas></div>
                    </div>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button class="md-warn" ng-click="userCtrl.cancel()" >
              Cancel
            </md-button>
            <md-button class="md-warn" ng-click="userCtrl.hide()" style="margin-right:20px;" >
              Save
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>